{% extends "authentic2/manager/sidebar.html" %}
{% load i18n %}

{% block messages %}
{% endblock %}

{% block main %}
  {% if title %}
    <div id="appbar"><h2>{{ title }}</h2></div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="form-inner-container">
      {% block caption %}
      <p>{% blocktrans %}Do you want to delete role {{ object }} ?{% endblocktrans %}</p>
      {% endblock %}
      <div class="buttons">
        <button>{% trans "Delete" %}</button>
        <a class="cancel" href="..">{% trans "Cancel" %}</a>
      </div>
    </div>
  </form>
{% endblock %}
