{% extends "authentic2/manager/sidebar.html" %}
{% load i18n staticfiles %}

{% block title %}{{ block.super }} - {% trans "Roles management" %}{% endblock %}

{% block page_title %}{% trans "Roles management" %}
{% if active_role %} — {{ active_role.name }}{% endif %}
{% endblock %}

{% block appbar %}
  {{ block.super }}
  {% if active_role %}
  <a rel="popup" href="{% url "a2-manager-role-delete" role_ref=active_role.ref %}" id="add-user-btn">{% trans "Delete" %}</a>
  <a rel="popup" href="{% url "a2-manager-role-edit" role_ref=active_role.ref %}" id="add-user-btn">{% trans "Edit" %}</a>
  {% else %}
   <p><a href="{% url "a2-manager-role-add" %}" rel="popup">{% trans "Add role" %}</a></p>
  {% endif %}
{% endblock %}


{% block sidebar %}
   <ul class="roles">
     {% for role in roles %}
       <li>
       <a href="{% url "a2-manager-role" role_ref=role.ref %}"
           {% if role.ref == active_role.ref %}class="active"{% endif %}>
            {{ role.name }}
         </a>
       </li>
     {% endfor %}
   </ul>

   {% if active_role %}
     <hr />
     <div id="search-form">
       <h3>{% trans "Search" %}</h3>
       <input id="search-input" type="search" value="{{ request.GET.search }}">
       <button>{% trans "Search" %}</button>
     </div>
   {% endif %}
{% endblock %}

{% block main %}
   <div class="big-msg-info">
     {% trans "Use filters on the left of the screen to display role's members." %}
   </div>
{% endblock %}

{% block page-end %}
  <div id="role-edit" style="display: none;">
   <form>
     <label><span>{% trans "Name:" %}</span> <input type="text" size="30" value="Foo"/></label></br>
   </form>
  </div>

  <div id="role-add" style="display: none;">
   <form id="role-add-form" method="post" action="{% url "a2-manager-role-add" %}">
    {% csrf_token %}
    {{ role_add_form }}
   </form>
  </div>

{% endblock %}
