{% load i18n %}
{% if can_change_password %}<h4>{% trans "Password" %}</h4>{% endif %}

<div>
{% if can_change_password %}
 <p><a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a></p>
{% else %}
{% comment %} <p><a href="{% url 'authopenid_password_change' %}">{% trans "Set password" %}</a></p> {% endcomment %}
{% endif %}
</div>

