/* theme derived and inspired by TerraFirma
 * <http://www.oswd.org/design/information/id/3557/>
 */

html, body {
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
}

body#iframe {
    background: white;
}

html {
	background: #F9F9F7 url(../images/a1.gif) repeat-x;
	color: #8c8c73;
}

a
{
	color: #FF7800;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}


div#wrap {
	background: white;
	width: 640px;
	margin: 5em auto;
	padding: 15px;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.75);
	position: relative;
}

#header
{
	position: absolute;
	background: #FF7800 url(../images/a8.gif) repeat-x;
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
	width: 202px;
	height: 92px;
	color: #fff;
	padding-left: 20px;
}

#header h1
{
	font-size: 23px;
	letter-spacing: -1px;
	padding-top: 30px;
	margin: 0;
}

#header span
{
	margin: 0;
	font-size: 10px;
	font-weight: normal;
	color: #FCE2CA;
}

#splash
{
	position: absolute;
	right: 15px;
	background: #EAEAE2 url(../images/a10.jpg) no-repeat;
	width: 410px;
	height: 92px;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
}

div#content {
	margin: 1em 1ex;
	margin-top: 100px;
	padding: 1ex;
}

div#content h2 {
	margin-top: 0;
	font-weight: normal;
	color: #656551;
	font-size: 18px;
	letter-spacing: -1px;
	line-height: 25px;
	margin-bottom: 20px;
	padding: 0 0 10px 15px;
	position: relative;
	top: 4px;
	background: url(../images/a22.gif) bottom repeat-x;
}

#footer
{
	font-size: 70%;
	position: relative;
	clear: both;
	height: 66px;
	text-align: center;
	line-height: 66px;
	background-image: url(../images/a50.gif);
	color: #A8A88D;
}

#footer a
{
	color: #8C8C73;
}


form#login-form p {
	float: left;
	width: 40%;
}

form#login-form input.submit {
	float: right;
	width: 18%;
	margin-top: 30px;
}

div.login-actions {
	clear: both;
	padding-top: 1em;
}

div.login-actions p {
	margin: 0;
}

form p {
	margin: 0 0 1em 0;
}

form p label {
	display: block;
}

form p input,
form p textarea {
	margin-left: 10px;
}

ul.messages {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.messages li.error {
	color: #e80404;
}

ul.errorlist {
	margin: 0;
	padding: 0;
	color: #e80404;
	list-style: none;
}

input, textarea {
	padding: 5px;
	border: 1px solid #cccccc;
	color:#666666;
	background: white;
	color: black;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
	border: 1px solid #4690d6;
	color:#333333;
}

input[type=submit] {
	color: #ffffff;
	background:#4690d6;
	border: 1px solid #2a567f;
	font-weight: bold;
	padding: 2px 8px 2px 8px;
	margin: 0;
	cursor: pointer;
}


input[type=submit]:hover {
	border-color: #0e1d2b;
}

form#login-form ul.errorlist {
	margin-bottom: 1em;
	width: 80%;
	font-weight: normal;
}

/* OpenID Stuff */

#openid_btns, #openid_btns br {
	clear: both;
}

#openid_highlight a {
	border: 1px solid #888;
}

#openid_input_area input[type=submit] {
	padding-top: 0;
	margin-top: 0;
	margin-left: 1em;
}

.openid_large_btn {
	width: 100px;
	height: 60px;
	border: 1px solid #DDD;
	margin: 3px;
	float: left;
}
.openid_small_btn {
	width: 24px;
	height: 24px;
	border: 1px solid #DDD;
	margin: 3px;
	float: left;
}

a.openid_large_btn:focus {
	outline: none;
}
a.openid_large_btn:focus {
	-moz-outline-style: none;
}
.openid_selected {
	border: 4px solid #DDD;
}

#openid_input_area {
	clear: both;
	padding-top: 2.5em;
}

li.indented {
	margin-left: 50px;
}

ul.NoBullet {
	list-style-type: none;
}

div#content h4 {
	margin-bottom: 5px;
	margin-top: 30px;
}

div.errors {
	margin: 0;
	padding: 0;
	color: #e80404;
	list-style: none;
}

div#breadcrumb {
	font-size: 80%;
	margin-bottom: 1em;
}

div#user {
	position: absolute;
	top: 98px;
	right: 12px;
}

a#logout {
	font-size: 70%;
}


.ui-tabs .ui-tabs-hide {
     display: none;
}

h4 {
	padding-left: 0.5em;
}

h4 + div, div#profile {
	padding-left: 1em;
}

.actions form {
	display: inline;
}

.helptext {
  display: block;
}

/* messages blocks */
ul.messages > li {
  display: block;
  padding: 3px;
  padding: 10px;
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 4px;
  font-style: italic;
}

ul.messages > li.info {
  background: #0044cc;
  color: #ffffff;
}

ul.messages > li.warning {
  background: #f89406;
  color: black;
}

ul.messages >li.error {
  background: #bd362f;
  color: black;
}

/* log table on error pages */
.a2-log-line:nth-child(odd) {
  background: lightgrey;
}
.a2-log-time, .a2-log-level, .a2-log-message {
  vertical-align: top;
  padding: 5px;
}

.a2-log-message {
  white-space: pre-wrap;
}
