{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Remove Link ?" %}</h2>
<form action="" method="post">{% csrf_token %}
 <p>{% trans "Are you sure you want to delete link with" %} {{ trustedroot }} ?</p>
 <input type="submit" value="Yes" />
</form>
<p><a href="/">{% trans "Back" %}</a></p>
{% endblock %}
