{% load i18n sekizai_tags%}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}authentic2/css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/css/jquery-ui.custom.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}ulx/css/ulx.css" />
    {% render_block "css" %}
    <title>{% block title %}User test{% endblock %}</title>
    {{ openid_meta }}
    {% block extra_scripts %}
    {% endblock %}
    {% render_block "js" %}
</head>

<body {% block bodyargs %}{% endblock %} >
  <div id="wrap">
    <a href="/"><div id="header">
      {% block header %}
      <h1>Authentic 2</h1>
      <span>{% trans "Versatile Identity Management Server" %}</span>
      {% endblock %}
    </div></a>

    <div id="splash"></div>

    <div id="content">
        {% if request.user.is_authenticated %}
        <div id="user">
          <p>
            {% blocktrans with request.user.get_full_name as username %}Hello {{ username }}.{% endblocktrans %}
          <a id="logout" href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></p>
        </div>
        {% endif %}
        {% block messages %}
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        {% endblock %}
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        Copyright &copy; 2013 Entr'ouvert&nbsp;&mdash;&nbsp;{{ AUTHENTIC2_VERSION }}
        {% endblock %}
    </div>
  </div>
  {% render_block "js-endpage" %}
</body>

</html>
