{% extends "base.html" %}
{% load i18n %}
{% block bodyargs %}onload="setTimeout(function () { window.location='{{ next_page }}' }, {{ redir_timeout }})"{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
{{ msg }}
<p><a href="{{ back }}">{% trans "Back" %}</a></p>
{% endblock %}
