{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Successful registration" %}
{% endblock %}

{% block content %}
<p>{% trans "You are now registered. Activation email sent." %}</p>
<p><a href="/">{% trans "Back" %}</a></p>
{% endblock %}
